.die {
  aspect-ratio: 1;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px 0px #00000026;
  transition-duration: 0.2s;
}

.active {
  background-color: #59e391;
}

.active:hover {
  cursor: pointer;
}

.inactive {
  background-color: white;
}

.inactive:hover {
  background-color: #59e391;
  cursor: pointer;
}

#die-roll {
  width: 40%;
  height: 12%;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #5035ff;
  font-family: "karla", sans-serif;
  vertical-align: center;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 5px;
  transition-duration: 0.4s;
}

#die-roll:hover {
  cursor: pointer;
  background-color: #705ee6;
}
